<div class="row">
    <div class="col-md-4 page-font">
        <i class="fa fa-file-text"></i> Contracts Register Dashboard
    </div>
    <div class="col-md-5">
        <links-dir links="ctrl.guideslinks "></links-dir>
    </div>
    <div class="col-md-3">
        <div class="pull-right">
            <a href="#listAdminDepartments" class="btn btn-sm btn-danger" ng-if="ctrl.isAdmin">
                <i class="fa fa-cog"></i>
                Administration
            </a>
            <a href="#addContract" class="btn btn-sm btn-success">
                <i class="fa fa-plus-circle"></i>
                Add Contract
            </a>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">
                Country Office/Global Team:
            </label>
            <select ng-model="ctrl.department"
                    ng-options="x.title for x in ctrl.departments track by x.id"
                    class="select form-control">
                <option value="" class="" selected="selected">--Select Country Office/Global Team--</option>
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <label class="control-label">
                Status:
            </label>
            <select ng-model="ctrl.status"
                    ng-options="x for x in ctrl.statuses"
                    class="select form-control">
                <option value="" class="" selected="selected">-- Select Status --</option>
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <label class="control-label">
                Action:
            </label>
            <button class="btn btn-sm btn-success form-control" ng-click="ctrl.SearchContracts()" type="button">
                <i class="fa fa-spinner"></i>
                Search
            </button>
        </div>
    </div>
</div>

<div class="row ten-columns">
    <div class="col-sm-2">
        <div ng-click="ctrl.getContracts(1,1)" class="dbSummary">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3 ">
                            <i class="glyphicon glyphicon-ok gi-3X"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge ng-binding">{{ctrl.allcontracts}}</div>
                            <div>All Contracts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div ng-click="ctrl.getContracts(90, 61)" class="dbSummary">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2 ">
                            <i class="glyphicon glyphicon-repeat gi-3X"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge ng-binding">{{ctrl.expiryninetydays}}</div>
                            <div>90-61 Days To Expiry</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div ng-click="ctrl.getContracts(60, 31)" class="dbSummary">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="glyphicon glyphicon-time gi-3X"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge ng-binding">{{ctrl.expirysixetydays}}</div>
                            <div>60-31 Days To Expiry</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div ng-click="ctrl.getContracts(30, 0)" class="dbSummary">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="glyphicon glyphicon-exclamation-sign gi-3X"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge ng-binding">{{ctrl.expirythirtydays}}</div>
                            <div>30-0 Days To Expiry</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div ng-click="ctrl.getContracts(0,0)" class="dbSummary">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-off gi-3X"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge ng-binding">{{ctrl.expiryexpired}}</div>
                            <div>Expired</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row ">
    <div class="col-md-12">
        <div class="contract-table" style="overflow:scroll">
            <table datatable="ng" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="min-width:60px;">Country Office/Global Team</th>
                        <th style="min-width:100px;">Contract Title</th>
                        <th style="min-width:100px;">Supplier Name</th>
                        <th style="min-width:110px;">Value</th>
                        <th style="min-width:80px;">Start Date</th>
                        <th style="min-width:80px;">End Date</th>
                        <th style="min-width:80px;">Contract Manager</th>
                        <th>Status</th>
                        <th>End Date if Extended</th>
                        <th style="min-width: 60px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contract in ctrl.contracts">
                        <td><span>{{contract.department.title}}</span></td>
                        <td><span>{{contract.title}}</span></td>
                        <td>
                            <span ng-repeat="supplier in contract.suppliers">
                                {{supplier.title}}<font ng-show="!$last">,</font>
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ (ctrl.isAdmin || ctrl.contract.curusermanager || ctrl.contract.curusereditor || ctrl.showcontractvalue) ?  contract.currency.abbr+" "+(contract.value | number : fractionSize) : 'CONFIDENTIAL' }}
                            </span>
                        </td>
                        <td><span>{{contract.startdate | date: 'dd/MM/yyyy' : 'europe/london'}}</span></td>
                        <td><span>{{contract.enddate | date: 'dd/MM/yyyy' : 'europe/london'}}</span></td>
                        <td>
                            <span ng-repeat="manager in contract.managers">
                                {{manager.title}}<font ng-show="!$last">,</font>
                            </span>
                        </td>
                        <td><span>{{contract.status}}</span></td>
                        <td><span>{{contract.renewals.length > 0 ? (contract.renewals[0].enddate | date: 'dd/MM/yyyy' : 'europe/london') : "N/A"}}</span></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#detailsContract/{{ctrl.department.id}}/{{ctrl.status}}/{{contract.id}}">View Details</a></li>
                                    <li><a href="#renewContract/{{ctrl.department.id}}/{{ctrl.status}}/{{contract.id}}" ng-if="contract.curusermanager || contract.curusereditor">Extend/Edit</a></li>
                                    <li>
                                        <a ng-click="ctrl.deleteContract(contract.id)" title="Delete Contract" ng-if="ctrl.isAdmin">
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="min-width:60px;">Country Office/Global Team:</th>
                        <th style="min-width:100px;">Contract Title</th>
                        <th style="min-width:100px;">Supplier Name</th>
                        <th style="min-width:60px;">Value</th>
                        <th style="min-width:80px;">Start Date</th>
                        <th style="min-width:80px;">End Date</th>
                        <th style="min-width:80px;">Contract Manager</th>
                        <th>Status</th>
                        <th>End Date if Extended</th>
                        <th style="min-width: 60px;"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--<div class="col-sm-12">
        <dir-pagination-controls boundary-links="true" template-url="common/directives/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>-->
</div>